/* font link start  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* global style start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  font-size: 1vw;
  font-family: "Rubik", sans-serif;
}

/* header start  */
header {
  width: 100%;
  height: 100%;
  background-color: #fff9f3;
}
/* nav start  */
nav {
  width: 100%;
  height: 100%;
  background-color: #fff9f3;
  border-bottom: 1px solid #e6e1e2;
  display: flex;
  justify-content: space-between;
  padding: 1.4vw 8%;
  align-items: center;
}
/* logo start  */
.logo img {
  width: 6vw;
}
/* link start  */
.main-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.link li {
  list-style: none;
  display: inline-block;
}
.link a,
.link h4 {
  font-size: 1.2vw;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #17134a;
}
.link a:hover,
.link h4:hover {
  color: #3a30ba;
}
.main-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.li-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
}
.dropdown-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
}
.dropdown-a i {
  font-size: 1vw;
}
.link-dropdown {
  flex-direction: column;
  position: absolute;
  top: 5vw;
  display: flex;
  gap: 1vw;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0px rgba(40, 56, 74, 0.15);
  padding: 1.5vw 1vw;
  display: none;
  transition: all 0.3s ease;
}
.dropdown-a:hover ~ .link-dropdown {
  display: flex;
}
.link-dropdown:hover ~ .link-dropdown {
  display: flex;
}
/* button start  */
.btn {
  display: flex;
  gap: 1.4vw;
  align-items: center;
}
.regular-btn {
  color: #3a30ba;
  font-weight: 500;
}

.active-btn {
  background-color: #3a30ba;
  color: #fff9f3;
  padding: 0.8vw 1vw;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 1px solid #fff9f3;
}
.active-btn:hover {
  background-color: #fff9f3;
  color: #3a30ba;
  padding: 0.8vw 1vw;
  border-radius: 5px;
  border: 1px solid #3a30ba;
}
/* hero section start  */
.hero {
  width: 100%;
  height: 100%;
  padding: 5vw 8%;
}
/* hero container start */
.hero-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.2vw;
}
.hero-cont h1 {
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -0.3vw;
  line-height: 5vw;
  text-align: center;
  color: #17134a;
}
.hero-cont p {
  font-size: 1.5vw;
  text-align: center;
  color: #45426e;
  font-family: "Rubik", sans-serif;
}
/* hero list start */
.hero-list ul {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}
.hero-list li {
  list-style: none;
  display: flex;
  gap: 0.5vw;
  align-items: center;
  justify-content: center;
}
.hero-list a {
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  color: #45426e;
  font-family: "Rubik", sans-serif;
}
.hero-list i {
  font-size: 1.5vw;
  font-weight: 500;
  color: #3a30ba;
}
/* hero button container start  */
.hero-btn-cont {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/button-bg_wqfy1ggx.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-btn {
  padding: 2vw 0;
}
.hero-btn a {
  font-size: 1.4vw;
  padding: 1vw 2vw;
  background-color: #3a30ba;
  color: #ffffff;
  border-radius: 0.3vw;
  font-weight: 500;
}
/* hero feature start */
.hero-feature {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
.hero-feature img {
  object-fit: cover;
  height: 2.8vw;
}
.hero-feature h3 {
  font-size: 1vw;
  font-weight: 400;
  color: #45426e;
}
/* hero badges start */
.hero-badge img {
  width: 20vw;
}
/* hero video container start */
.hero-vid-cont {
  background-image: url(https://cdn.dorik.com/5e373b6c43a72a001f56dbf6/61a1f4035bfd7b0011fb92f9/images/cms-bg_2b06w496.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-size: 76vw;
  justify-content: center;
  padding: 3vw 0;
}
/* hero video section start */
.hero-vid-sec {
  background-color: #d8d8d88c;
  padding: 1.5vw;
  border-radius: 2vw;
  width: fit-content;
  backdrop-filter: blur(3px);
}
.hero-vid-sec iframe {
  border-radius: 1.2vw;
  width: 60vw;
  height: 35vw;
}
/* main start */
main {
  width: 100%;
  height: 100%;
  padding: 2vw 8%;
  position: relative;
}
/* review section start  */
.review {
  width: 100%;
  height: 100%;
  padding-bottom: 3vw;
}
/* review container start  */
.review-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #45426e2f;
}
/* review box start */
.review-box {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  height: 20vw;
  padding: 2vw;
  text-align: center;
}
.review-box img {
  object-fit: cover;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 100%;
}
.review-box p {
  font-size: 1.2vw;
  font-weight: 400;
  color: #45426e;
}
.review-span {
  background-color: #fcf2de;
  font-weight: 600;
  color: #17134a;
}
.review-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2vw;
}
.review-info h3 {
  font-size: 1.3vw;
  font-weight: 500;
  color: #17134a;
}
.review-info h4 {
  font-size: 1vw;
  font-weight: 400;
  color: #45426e;
}
/* brand section start */
.brand {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw 0;
}
/* brand title start */
.brand h2 {
  font-size: 1.5vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.brand h2 span {
  color: #de238e;
}
/* brand container start */
.brand-cont {
  display: flex;
  gap: 4vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5vw;
}
.brand-cont img {
  width: 6vw;
  object-fit: contain;
  height: fit-content;
}
.brand-img img {
  width: 5vw;
  filter: grayscale(100%) sepia(0%) blur(0px) brightness(100%) hue-rotate(0deg)
    saturate(100%) opacity(100%) contrast(100%) invert(0%);
}
/* ai section start  */
.ai {
  width: 100%;
  height: 100%;
  padding-bottom: 6vw;
}
/* ai container start */
.ai-cont {
  background-color: #fff9f3;
  padding: 2vw;
  border-radius: 0.8vw;
}
/* ai main start */
.ai-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2vw;
  border-bottom: 1px solid #45426e2f;
  padding-bottom: 3vw;
}
/* ai text start  */
.ai-text {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw 1vw;
}
/* title start */
.ai-text h1 {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: -0.2vw;
  line-height: 4vw;
  color: #17134a;
  margin-bottom: 0.2vw;
}
/* paragraph strat */
.ai-text p {
  font-size: 1.3vw;
  font-family: "Rubik", sans-serif;
  color: #45426e;
}
/* list start */
.ai-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-bottom: 2vw;
}
.ai-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #45426e;
}
.ai-list i {
  color: #3a30ba;
}
.ai-list h4 {
  font-size: 1.2vw;
  font-weight: 500;
}
/* ai button start */
.ai-btn a {
  background-color: #3a30ba;
  color: #ffffff;
  padding: 1vw 2vw;
  font-size: 1.3vw;
  border-radius: 0.3vw;
  margin-top: 5vw;
}
/* ai image start  */
.ai-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.ai-img img {
  width: 102%;
}
.ai-img h2 {
  font-size: 1.3vw;
  font-weight: 300;
  color: #45426e;
  font-family: "Rubik", sans-serif;
}
.ai-img h2 > span {
  font-style: italic;
}
/* ai info start */
.ai-info {
  width: 100%;
  height: 100%;
  padding: 3vw 0;
}
/* ai info container start */
.ai-info-cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2vw;
}
/* ai info box start  */
.ai-info-box {
  width: 100%;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
}
.ai-info-box svg {
  width: 3vw;
  color: #3a30ba;
}
.ai-info-box h5 {
  font-size: 1.4vw;
  font-weight: 500;
  color: #17134a;
}
.ai-info-box p {
  font-size: 1.2vw;
  font-weight: 300;
  color: #17134a;
}

/* no code section start  */
.no-code {
  width: 100%;
  height: 100%;
  padding-bottom: 6vw;
}
/* no code container start */
.no-code-cont {
  background-color: #fdeff7;
  padding: 2vw;
  border-radius: 0.8vw;
}
/* no code main start */
.no-code-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2vw;
  border-bottom: 1px solid #45426e2f;
  padding-bottom: 3vw;
}
/* n code text start  */
.no-code-text {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw 1vw;
}
/* title start */
.no-code-text h1 {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: -0.2vw;
  line-height: 4vw;
  color: #17134a;
  margin-bottom: 0.2vw;
}
/* paragraph strat */
.no-code-text p {
  font-size: 1.3vw;
  font-family: "Rubik", sans-serif;
  color: #45426e;
}
/* list start */
.no-code-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-bottom: 2vw;
}
.no-code-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #45426e;
}
.no-code-list i {
  color: #3a30ba;
}
.no-code-list h4 {
  font-size: 1.2vw;
  font-weight: 500;
}
/* no code button start */
.no-code-btn a {
  background-color: #3a30ba;
  color: #ffffff;
  padding: 1vw 2vw;
  font-size: 1.3vw;
  border-radius: 0.3vw;
  margin-top: 5vw;
}
/* no code image start  */
.no-code-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.no-code-img img {
  width: 102%;
}
/* no code info start */
.no-code-info {
  width: 100%;
  height: 100%;
  padding: 3vw 0;
}
/* no code info container start */
.no-code-info-cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2vw;
}
/* no-code info box start  */
.no-code-info-box {
  width: 100%;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
}
.no-code-info-box svg {
  width: 3vw;
  color: #3a30ba;
}
.no-code-info-box h5 {
  font-size: 1.4vw;
  font-weight: 500;
  color: #17134a;
}
.no-code-info-box p {
  font-size: 1.2vw;
  font-weight: 300;
  color: #17134a;
}

/* cms section start  */
.cms {
  width: 100%;
  height: 100%;
  padding-bottom: 6vw;
}
/* cms container start */
.cms-cont {
  background-color: #f1faf7;
  padding: 2vw;
  border-radius: 0.8vw;
}
/* cms main start */
.cms-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2vw;
  border-bottom: 1px solid #45426e2f;
  padding-bottom: 3vw;
}
/* cms text start  */
.cms-text {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw 1vw;
}
/* title start */
.cms-text h1 {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: -0.2vw;
  line-height: 4vw;
  color: #17134a;
  margin-bottom: 0.2vw;
}
/* paragraph strat */
.cms-text p {
  font-size: 1.3vw;
  font-family: "Rubik", sans-serif;
  color: #45426e;
}
/* list start */
.cms-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-bottom: 2vw;
}
.cms-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #45426e;
}
.cms-list i {
  color: #3a30ba;
}
.cms-list h4 {
  font-size: 1.2vw;
  font-weight: 500;
}
/* cms button start */
.cms-btn a {
  background-color: #3a30ba;
  color: #ffffff;
  padding: 1vw 2vw;
  font-size: 1.3vw;
  border-radius: 0.3vw;
  margin-top: 5vw;
}
/* cms image start  */
.cms-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.cms-img img {
  width: 102%;
}
/* cms info start */
.cms-info {
  width: 100%;
  height: 100%;
  padding: 3vw 0;
}
/* cms info container start */
.cms-info-cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2vw;
}
/* cms info box start  */
.cms-info-box {
  width: 100%;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
}
.cms-info-box svg {
  width: 3vw;
  color: #3a30ba;
}
.cms-info-box h5 {
  font-size: 1.4vw;
  font-weight: 500;
  color: #17134a;
}
.cms-info-box p {
  font-size: 1.2vw;
  font-weight: 300;
  color: #17134a;
}

/* data section start  */
.data {
  width: 100%;
  height: 100%;
  padding-bottom: 6vw;
}
/* data container start */
.data-cont {
  background-color: #eeebfa;
  padding: 2vw;
  border-radius: 0.8vw;
}
/* data main start */
.data-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2vw;
  border-bottom: 1px solid #45426e2f;
  padding-bottom: 3vw;
}
/* data text start  */
.data-text {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw 1vw;
}
/* title start */
.data-text h1 {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: -0.2vw;
  line-height: 4vw;
  color: #17134a;
  margin-bottom: 0.2vw;
}
/* paragraph strat */
.data-text p {
  font-size: 1.3vw;
  font-family: "Rubik", sans-serif;
  color: #45426e;
}
/* list start */
.data-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-bottom: 2vw;
}
.data-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #45426e;
}
.data-list i {
  color: #3a30ba;
}
.data-list h4 {
  font-size: 1.2vw;
  font-weight: 500;
}
/* data button start */
.data-btn a {
  background-color: #3a30ba;
  color: #ffffff;
  padding: 1vw 2vw;
  font-size: 1.3vw;
  border-radius: 0.3vw;
  margin-top: 5vw;
}
/* data image start  */
.data-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.data-img img {
  width: 102%;
}
/* data info start */
.data-info {
  width: 100%;
  height: 100%;
  padding: 3vw 0;
}
/* data info container start */
.data-info-cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2vw;
}
/* data info box start  */
.data-info-box {
  width: 100%;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
}
.data-info-box svg {
  width: 3vw;
  color: #3a30ba;
}
.data-info-box h5 {
  font-size: 1.4vw;
  font-weight: 500;
  color: #17134a;
}
.data-info-box p {
  font-size: 1.2vw;
  font-weight: 300;
  color: #17134a;
}
/* happy user section start */
.happy {
  width: 100%;
  height: 100%;
  padding-bottom: 5vw;
}
/* happy main container start */
.happy-main-cont {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8vw;
}
/* happy text strat */
.happy-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 1.3vw;
}
.happy-text h1 {
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: -0.2vw;
  line-height: 4.3vw;
  color: #17134a;
  margin-bottom: 0.2vw;
  width: 100%;
}
.happy-text a {
  background-color: #3a30ba;
  color: #ffffff;
  padding: 1vw 2vw;
  font-size: 1.3vw;
  border-radius: 0.3vw;
  width: 34%;
  transition: all 0.3s ease;
}
.happy-text a:hover {
  background-color: #17134a;
}

/* happy image  container  strart */
.happy-cont {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}
/* happy image container text start */
.happy-cont-text h4 {
  font-size: 1.5vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.happy-cont-text h4 span {
  color: #de238e;
}
/* happy image container image start */
.happy-cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2vw;
  row-gap: 0.5vw;
}
/* happy image start */
.happy-img img {
  width: 6vw;
}
/* design section start */
.design {
  background-color: #030521;
  width: 100%;
  height: 100%;
  margin-bottom: 5vw;
  padding-bottom: .5vw;
}
/* design main container start */
.design-main-cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 8vw;
  gap: 5vw;
}
.design-main-cont h1 {
  font-size: 4vw;
  width: 50%;
  font-weight: 500;
  color: #ffffff;
  line-height: 4.5vw;
}
/* design container start */
.design-cont {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  gap: 3vw;
}
/* design box start */
.design-box {
  width: 40vw;
  height: 11vw;
  border: 1px solid #45426e2f;
  padding: 3vw;
  background-color: #030521;
  cursor: pointer;
  transition: all 0.1s linear;
}
.design-box:hover {
  border: 1px solid #ffffff80;
  box-shadow: 0px 5px 20px 0px rgba(40, 56, 74, 0.15);
}
.design-text h2 {
  font-size: 1.6vw;
  font-weight: 500;
  color: #d1d0db;
  margin-bottom: 1vw;
}
.design-text h2:hover {
  color: #ffffff;
}
.design-text p {
  font-size: 1.2vw;
  font-weight: 300;
  color: #d1d0db;
  border-bottom: 1px solid #17134a;
  display: inline;
  transition: all 0.2s linear;
}
.design-text p:hover {
  border-bottom: 1px solid #3a30ba;
}

/* design image start */
.design-img img {
  width: 100%;
}
